<!DOCTYPE html>
<html dir="rtl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ArSa-CoinSystem https://github.com/Im0ArSa</title>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <div id="main" class="form-container no-Active">
        <!-- <div></div> -->
        <img id="avatar" src="https://cdn.discordapp.com/attachments/1084216861572472924/1155963724184702995/20230713_004459_.v1.png" alt="">
        <div class="info">
            <p class="welcom">به صرافی شهر کوانتوم خوش آمدید   لطفا قبل  از ثبت کردن اطلاعات به نکات دقت کنید.</p>
            <p class="hint">1)  تمام اطلاعات باید به صورت فارسی ارسال شود .</p>
            <p class="hint">2) نام صاحب شماره کارت باید دقیقا مطابق با اسم درج شده رو کارت باشد.</p>
            <p class="hint">3) فرایند واریز وجه بین 5 تا 12 ساعت طول میکشد.</p>
            <p class="hint">4) قیمت کوین روز در شهر  = <span id="getPrice">2000</span> <span id="getUnit">تومان</span></p>
            <p class="hint">5) حداقل کوین مورد نیاز برای ایکس چنج <span id="getmin">50</span> و حداکثر<span id="getmax">300</span> عدد در روز می باشد.</p>
            <p class="bye">در صورت رعایت نکردن نکات بالا ممکن است کوین های شما  توسط سیستم حذف شود.</p>
        </div>
        <input id="name" class="def" type="text" placeholder="نام و نام خانوادگی">
        <input id="coin" class="def" type="number" placeholder="تعداد کوین">
        <input id="cnum" class="def" type="number" placeholder="شماره کارت">
        <input id="cname" class="def" type="text" placeholder="نام صاحب کارت">
        <input id='phone' class="def" type="number" inputmode="numeric" placeholder="شماره تماس">

        <button id="btnc">بستن</button>
        <button id="btn">ارسال</button>
    </div>
</body>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js" type="text/javascript"></script>
<script src="../view/js/script.js"></script>
</html>
